@import "bootstrap/dist/css/bootstrap.min.css";
@import "swiper/swiper-bundle.min.css";
@import "tailwind.css";

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/futura-medium-bt.eot");
    src: url("./fonts/futura-medium-bt.woff") format("woff"),
    url("./fonts/futura-medium-bt.otf") format("opentype");
}

@font-face {
    font-family: "Futura PT Extra Black";
    src: url("./fonts/Futura-Extra-Black-font.eot");
    src: url("./fonts/Futura-Extra-Black-font.woff") format("woff"),
    url("./fonts/Futura-Extra-Black-font.otf") format("opentype");
}

body {
    font-family: "Futura PT";
}

nav a, h1, h2, h3, h4, h5, h6 {
    font-family: "Futura PT Extra Black";
}