@import "bootstrap/dist/css/bootstrap.min.css";
@import "swiper/swiper-bundle.min.css";
@import "tailwind.css";

@font-face {
    font-family: "Futura PT";
    src: url("./fonts/futura-medium-bt.eot");
    src: url("./fonts/futura-medium-bt.woff") format("woff"),
    url("./fonts/futura-medium-bt.otf") format("opentype");
}

@font-face {
    font-family: "Futura PT Extra Black";
    src: url("./fonts/Futura-Extra-Black-font.eot");
    src: url("./fonts/Futura-Extra-Black-font.woff") format("woff"),
    url("./fonts/Futura-Extra-Black-font.otf") format("opentype");
}

body {
    font-family: "Futura PT";
}

nav a, h1, h2, h3, h4, h5, h6, .extra-bold {
    font-family: "Futura PT Extra Black";
}

.swiper-button-next, .swiper-button-prev {
  height: 47px;
  width: 47px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	content: '';
	background-image: url("https://firebasestorage.googleapis.com/v0/b/cyanstationv1.appspot.com/o/assets%2Farrow-right.png?alt=media&token=fe273677-a008-4c58-a32c-3df5b72f7383");
	background-repeat: no-repeat;
	background-position: center center;
  height: 47px;
  width: 47px;
}

.swiper-button-prev:after {
	transform: scaleX(-1);
}

ul {
  padding-left: 1rem;
}

.border-12 {
  border-width: 14px;
}

.border-t-40 {
  border-top-width: 3rem;
}

.border-amber-700 {
  border-color: rgb(180 83 9);
}

@media (min-width: 640px) {
  .sm\:pt-0 {
    padding-top: 0px !important;
  }
}